@import 'tailwindcss';

@theme {
    --font-display: "Inter", "sans-serif";
    --color-primary: #3E68FC;
    --color-white: #ffffff;
    --color-grey: #E4E8F5;
    --color-dark-grey: #40424a;
    --color-light-blue: #C5D4F3;
    --color-blue: #f8fbff;

    --animate-countdown: countdown 7s ease-in-out forwards;

    @keyframes countdown {
        0% {
            width: 100%;
        }

        100% {
            width: 0%;
        }

    }
}

@layer base {

    html,
    body,
    #hg-root {
        background-color: var(--color-blue);
        height: 100%;
        font-size: 15px;
        font-family: var(--font-display);
    }

    a,
    button,
    .action {
        cursor: pointer;
    }

    .btn {
        @apply font-medium py-2 px-4 rounded-lg h-11;
    }

    .btn-primary {
        @apply bg-primary text-white;
    }

    .btn-primary:hover {
        @apply bg-primary saturate-50;
    }

    .btn-secondary {
        @apply bg-white text-primary border-primary border;
    }

    .btn-secondary:hover {
        @apply bg-slate-400;
    }

    input[type="text"],
    input[type="search"],
    input[type="email"],
    input[type="password"],
    input[type="number"] {
        display: block;
        width: 100%;
        border-radius: 10px;
        padding: 0.5rem;
        border: 1px solid var(--color-light-blue);
        height: 46px;
        background-color: var(--color-white);
        color: var(--color-dark-grey);
    }

}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}