@if(messages().length > 0) {
<div id="alert-container" class="flex flex-col-reverse gap-4 fixed bottom-4 right-4 z-150 p-2">
    @for (message of messages(); track message.id) {
    <div class="alert text-white p-4 rounded-md relative min-w-80 max-w-96 shadow-md"
        [ngClass]="getAlertClasses(message.type)" (pointerenter)="onEnter(message.id)"
        (pointerleave)="onLeave(message.id)">
        <div class="flex justify-between gap-2">
            <span class="font-medium">{{message.message}}</span>
            <div class="flex gap-1">
                <mat-icon fontIcon="info" aria-hidden="false" aria-label="details"
                    class="opacity-60 hover:opacity-100 cursor-pointer" />
                <mat-icon fontIcon="open_in_new" aria-hidden="false" aria-label="enlarge"
                    class="opacity-60 hover:opacity-100 cursor-pointer" />
                <mat-icon fontIcon="cancel" aria-hidden="false" aria-label="delete"
                    class="opacity-60 hover:opacity-100 cursor-pointer" (click)="onCloseAlert(message.id)" />
            </div>
        </div>
        <!-- <div class="snackCountDown absolute left-0 right-0 bottom-0 h-1 bg-primary animate-(--animate-countdown)"></div> -->
    </div>
    }
</div>
}